html,
body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

input:focus {
    transition: all 0.2s ease;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .input {
        @apply border-input bg-background placeholder:text-muted-foreground focus:border-primary focus:ring-primary w-full rounded-lg border py-2.5 pr-4 pl-10 text-sm focus:ring-1 focus:outline-none;
    }

    .button {
        @apply bg-primary hover:bg-primary/90 focus:ring-primary/50 focus:ring-offset-background w-full cursor-pointer rounded-lg py-2.5 font-medium transition-all duration-200 focus:ring-2 focus:ring-offset-2;
    }
}
